[Unit]
Description=accounting server, it speaks RADIUS AAA protocol via HTTP with Dedalo
After=network.target cloud-init.service

[Service]
Type=simple
User=root
Environment=PORT=8081
EnvironmentFile=-/opt/icaro/wax/conf.env
WorkingDirectory=/opt/icaro/wax/
Environment=GIN_MODE=release
ExecStart=/opt/icaro/wax/wax
Restart=on-abort

[Install]
WantedBy=multi-user.target
