<!-- Topbar and vertical navigation content -->
<div id="verticalNavLayout" class="layout-pf layout-pf-fixed faux-layout">
	<pfng-vertical-navigation
	[items]="navigationItems"
	(onItemClickEvent)="onItemClicked($event)"
	(onNavigationEvent)="onNavigation($event)"
	[showBadges]="true"
	[hiddenIcons]="false"
	[persistentSecondary]="false"
	[updateActiveItemsOnClick]="true"
	[pinnableMenus]="true">
	<div>
	<!-- Topbar menu with icons -->
		<ul class="nav navbar-nav navbar-right navbar-iconic">
			<li class="dropdown">
				<!-- User info -->
				<a class="dropdown-toggle nav-item-iconic" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span>
						<span title="Username" class="fa pficon-user"></span>
						{{account_type | uppercase}}
					</span>
					<span class="caret"></span>
				</a>
				<!-- User dropdown list -->
				<ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
					<li>
						<!-- Logout -->
						<a class="logout" href="#"(click)="logOut()">
							<span title="logout" class="fa pficon-arrow"></span>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	</pfng-vertical-navigation>
</div>