<!-- Navbar content -->
<nav class="navbar navbar-pf-vertical">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">
			<!-- Insert logo here -->
			<!-- <img class="navbar-brand-icon" src="" alt=""/> -->
			<!-- <img class="navbar-brand-name" src="" alt="" /> -->
		</a>
	</div>

</nav>

<!-- Sidenav content -->
<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary"></div>


<!-- Dashboard content -->
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical nav-pf-persistent-secondary"></div>