[Unit]
Description=Papertrail
After=systemd-journald.service cloud-init.service
Requires=systemd-journald.service

[Service]
EnvironmentFile=/opt/papertrail/conf.env
ExecStart=/bin/sh -c "journalctl -f | ncat --ssl ${PAPERTRAIL_HOST} ${PAPERTRAIL_PORT}"
TimeoutStartSec=0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
