[Unit]
Description=Exec tasks immediatly or in a background jobs
After=network.target cloud-init.service

[Service]
Type=simple
PrivateTmp=true
EnvironmentFile=-/opt/icaro/sun-api/conf.env
ExecStart=/opt/icaro/sun-tasks/sun-tasks -a %i -w
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
