[Unit]
Description=Hotspot manager, web applications which talks with Wax
After=network.target cloud-init.service

[Service]
Type=simple
User=root
Environment=PORT=8080
EnvironmentFile=-/opt/icaro/sun-api/conf.env
WorkingDirectory=/opt/icaro/sun-api/
Environment=GIN_MODE=release
ExecStart=/opt/icaro/sun-api/sun-api
Restart=on-abort

[Install]
WantedBy=multi-user.target
