
.modal {
	font-size: 12px;
}

.modal-title {
	color: #313131;
}

.modal-header {
	border-bottom: 4px solid #39A5DC;
}

.form-horizontal .form-control {
	width: 65%;
}

.progress-bar {
	width: 100%;
}

.progress-bar-danger:hover {
	background-color: rgba(204,0,0,.6);
	cursor: pointer;
}

.fade.in {
	background: rgba(0, 0, 0, 0.6);
}