https://{$ICARO_HOSTNAME} {
  root /opt/icaro/sun-ui
  gzip
  proxy /api {$SUN_API_ORIGIN}
  proxy /wax {$WAX_ORIGIN}
  proxy /ade {$ADE_API_ORIGIN}
{% if icaro.tls is defined and icaro.tls == "self_signed" %}
  tls self_signed
{% elif icaro.tls is defined and icaro.tls == "manual" %}
  tls /opt/icaro/{$ICARO_HOSTNAME}_cert.pem /opt/icaro/{$ICARO_HOSTNAME}_private_key.pem
{% endif %}
  log / stdout {combined}
    redir {
    if {path} starts_with /wings
    / http://{host}{uri}/
  }

}

http://{$ICARO_HOSTNAME} {
  redir {
    if {path} not_starts_with /wings
    / https://{host}{uri}/
  }
}

http://{$ICARO_HOSTNAME}/wings {
  root /opt/icaro/wings
  gzip
  rewrite {
    if {path} not_starts_with /wings/static/
    to {path} /
  }
  log / stdout {combined}
}
