https://{$ICARO_HOSTNAME} {
  root /opt/icaro/sun-ui
  gzip
  proxy /api {$SUN_API_ORIGIN}
  proxy /wax {$WAX_ORIGIN}
{% if icaro.tls_self_signed is defined and icaro.tls_self_signed == true %}
  tls self_signed
{% endif %}
  log / stdout {combined}
}

https://{$ICARO_HOSTNAME}/privacy {
  root /opt/icaro/privacy
{% if icaro.tls_self_signed is defined and icaro.tls_self_signed == true %}
  tls self_signed
{% endif %}
}


http://{$ICARO_HOSTNAME} {
  redir {
    if {path} not_starts_with /wings
    / https://{host}{uri}/
  }
}

http://{$ICARO_HOSTNAME}/wings {
  root /opt/icaro/wings
  gzip
  rewrite {
    if {path} not_starts_with /wings/static/
    to {path} /
  }
  log / stdout {combined}
}
