const CONFIG = {
  APP_NAME: '{{ icaro.sun_ui.title | default('<YOUR_APP_NAME>') }}',
  HELP_URL: '{{ icaro.sun_ui.help_url | default('<YOUR_HELP_URL>') }}',
  COMPANY_NAME: '{{ icaro.sun_ui.company_name | default('<YOUR_COMPANY_NAME>') }}'
}
