const CONFIG = {
  APP_NAME: '{{ icaro.sun_ui.title | default('<YOUR_APP_NAME>') }}',
  HELP_URL: '{{ icaro.sun_ui.help_url | default('<YOUR_HELP_URL>') }}',
  COMPANY_NAME: '{{ icaro.sun_ui.company_name | default('<YOUR_COMPANY_NAME>') }}',
  UA_ANALYTICS: '{{ icaro.sun_ui.google_analytics_id | default('<YOUR_GOOGLE_ANALYTICS_ID>') }}',
  WAX_URL: '{{ icaro.sun_ui.wax_url | default('') }}'
}
