{
    "database": {
        "host":"{{ icaro.sun_api.db_hostname }}",
        "port":"3306",
        "name":"icaro",
        "user": "{{ icaro.sun_api.db_username }}",
        "password": "{{ icaro.sun_api.db_password }}"
    },
    "token_expires_days": 1,
    "cors": {
        "origins": ["https://{{ icaro.hostname }}"],
        "headers": ["Token", "Content-Type"],
        "methods": ["GET", "PUT", "POST", "DELETE"]
    },
    "route_blocked": {
    "admin": [{}],
    "customer": [{
        "verb": "POST",
        "endpoint": "/api/accounts"
    }, {
        "verb": "PUT",
        "endpoint": "/api/accounts/[0-9]+"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/accounts/[0-9]+"
    }, {
        "verb": "POST",
        "endpoint": "/api/hotspots"
    }, {
        "verb": "PUT",
        "endpoint": "/api/hotspots/[0-9]+"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/hotspots/[0-9]+"
    }, {
        "verb": "POST",
        "endpoint": "/api/units/"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/units/[0-9]+"
    }, {
        "verb": "POST",
        "endpoint": "/api/users"
    }],
    "desk": [{
        "verb": "POST",
        "endpoint": "/api/accounts"
    }, {
        "verb": "PUT",
        "endpoint": "/api/accounts/[0-9]+"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/accounts/[0-9]+"
    }, {
        "verb": "POST",
        "endpoint": "/api/hotspots"
    }, {
        "verb": "PUT",
        "endpoint": "/api/hotspots/[0-9]+"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/hotspots/[0-9]+"
    },{
        "verb": "POST",
        "endpoint": "/api/preferences/hotspots"
    }, {
        "verb": "POST",
        "endpoint": "/api/units/"
    }, {
        "verb": "DELETE",
        "endpoint": "/api/units/[0-9]+"
    }, {
        "verb": "POST",
        "endpoint": "/api/users"
    }]
    }
}
