#login {
	padding-top: 30%;
	color: #fff;
}

#title {
	color: #fff;
	padding: 30px 0;
	letter-spacing: 0.7rem;
	line-height: 1.5px;
	text-transform: uppercase;
}

.jumbotron {
	background-color: 	#313131
}

.login-form-container {
	border-right: 1px solid #d4d4d4;
}