https://{{ machine_hostname }} {
  root /opt/icaro/sun-ui
  proxy /api localhost:8080
  proxy /wax localhost:8181
  tls {{ admin_email }}
}

http://{{ machine_hostname }} {
  redir {
    if {path} not_starts_with /wings
    / https://{host}{uri}/
  }
}

http://{{ machine_hostname }}/wings {
  root /opt/icaro/wings
  rewrite {
    if {path} not_starts_with /wings/static/
    to {path} /
  }
}
