{
    "db_host": "localhost",
    "db_port": "3306",
    "db_name": "icaro",
    "db_user": "root",
    "db_password": "{{ mariadb_root_password }}",
    "page_limit": "25",
    "token_expires_days": 1,
    "captive_path": "/opt/icaro/wings",
    "captive_public_path": "/opt/icaro/wings/assets",
    "auth_social": {
        "facebook": {
            "client_id": "{{ facebook_client_id }}",
            "client_secret": "{{ facebook_client_secret }}",
            "redirect_uri": "http://{{ machine_hostname }}/hotspot/index.html"
        },
        "google": {},
        "twitter": {}
    },
    "endpoints": {
        "sms": {
            "account_sid": "{{ twilio_account_sid }}",
            "auth_token": "{{  twilio_auth_token}}",
            "number": "{{ twilio_number }}"
        },
        "email": {
            "from": "{{ admin_email}}",
            "smtp_host": "{{ email_smtp_host }}",
            "smtp_port": {{ email_smtp_port }},
            "smtp_user": "{{ email_smtp_user }}",
            "smtp_password": "{{ email_smtp_password }}"
        }
    },
    "authorizations": {
        "admin": [{}],
        "customer": [{
            "verb": "POST",
            "endpoint": "/api/accounts"
        }, {
            "verb": "PUT",
            "endpoint": "/api/accounts/[0-9]+"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/accounts/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/hotspots"
        }, {
            "verb": "PUT",
            "endpoint": "/api/hotspots/[0-9]+"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/hotspots/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/units/"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/units/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/users"
        }],
        "desk": [{
            "verb": "POST",
            "endpoint": "/api/accounts"
        }, {
            "verb": "PUT",
            "endpoint": "/api/accounts/[0-9]+"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/accounts/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/hotspots"
        }, {
            "verb": "PUT",
            "endpoint": "/api/hotspots/[0-9]+"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/hotspots/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/preferences/hotspots"
        }, {
            "verb": "POST",
            "endpoint": "/api/units/"
        }, {
            "verb": "DELETE",
            "endpoint": "/api/units/[0-9]+"
        }, {
            "verb": "POST",
            "endpoint": "/api/users"
        }]
    }
}