<div class="padding-15">
	<div class="cards-pf">
		<div class="row row-cards-pf">
			<div class="col-sm-4">
				<!-- Profile card -->
				<pfng-card class="custom-card" [config]="config">
					<!-- Profile Title -->
					<div class="card-pf-heading">
						<h2 class="card-pf-title">
							<span class="pficon pficon-user status-info"></span>
							&nbsp;Information
						</h2>
					</div>
					<!-- Username info -->
					<div class="card-pf-body">
						<dl>
							<dt>{{account_type}}</dt>
							<dd><!-- Username here --></dd>
						</dl>
					</div>
					<!-- Change password modal button -->
					<div class="card-pf-footer">
						<div class="dropdown card-pf-time-frame-filter">
							<button class="btn btn-default" data-toggle="modal" data-target="#change-passowrd" class="btn btn-default">
								Change password
							</button>
						</div>
					</div>
				</pfng-card>
			</div>
		</div>
		<div class="row row-cards-pf">
			<div class="col-sm-4">
				<pfng-card class="custom-card">
					<h2 class="card-pf-title">
						<span class="fa fa-wrench status-info"></span>
						&nbsp;Preferences
					</h2>
				</pfng-card>
			</div>
		</div>
	</div>
</div>
