/* You can add global styles to this file, and also import other style files */
html {
	position: relative;
	height: 100%;
	min-height: 100%;
	font-family: sans-serif;
	overflow-x: hidden;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	background-color: #dfdfdf;
	/*background-size: 100% auto;*/
	font-size: 13px;
}

h1 {
	top: 20%;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}