[Unit]
Description=Network access controller, runs on the firewal and intercepts all guest connections, based on CoovaChilli
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/icaro/dedalo/
RuntimeDirectory=dedalo
ExecStart=/usr/sbin/chilli -c /opt/icaro/dedalo/chilli.conf --fg
Restart=on-abort

[Install]
WantedBy=multi-user.target